
h3 {
    font-size: var(--font-size-medium);
}
.navbar {
    color: rgb(53, 42, 42);
    padding: 12px;
    margin: 4px;
    background-color: rgb(174, 164, 238);
}


.home-section {
    padding-left: 12px;
   background-color: blanchedalmond;
}
.footer {
    background-color: rgb(174, 162, 238);
    text-decoration-color: blue;
}
.text-reset {
    color: blue;
}
p {
    margin: var(--gutter-small-1) 0;
}
@media(max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}
