
h3 {
    font-size: var(--font-size-medium);
}

.navbar {
    padding: 12px;
    margin: 4px;
    background: linear-gradient(to right, rgb(205, 200, 236), rgb(142, 140, 197), rgb(235, 192, 217), rgb(255, 155, 123));
}



.home-section {
    padding-left: 12px;
    background-color: blanchedalmond;
    margin-top: 100px;
    animation: colorChange 3s infinite alternate; 
}

@keyframes colorChange {
    0% {
        background-color: rgb(223, 207, 183); 
    }
    25% {
        background-color: rgb(185, 213, 223); /* Ending color */
    }
    50% {
        background-color: rgb(235, 192, 217); /* Ending color */
    }
    100% {
        background-color: rgb(224, 236, 207); /* Ending color */
    }
}

.footer {
    background-color: rgb(174, 162, 238);
    text-decoration-color: blue;
}
.text-reset {
    color: blue;
}
p {
    margin: var(--gutter-small-1) 0;
}
@media(max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}
