
h3 {
    font-size: var(--font-size-medium);
}
.navbar {
    color: rgb(53, 42, 42);
    padding: 12px;
    margin: 4px;
}

.Home {
    padding-left: 12px;
   background-color: blanchedalmond;
}
.Card {
    padding-top: 20px;
    margin-left: 20px;
    width: 80rem; /* Set the desired width */
    margin: 0 auto; /* Center the card horizontally */
    display: block;
}
.footer {
    background-color: rgb(31, 37, 37);
    text-decoration-color: blue;
}
.text-reset {
    color: blue;
}
p {
    margin: var(--gutter-small-1) 0;
}
@media(max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}
